body {
    margin: 0;    
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.title {
    list-style: none;
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #E3B873;
}

.header {
    background-color: black;    
}

.header-container {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    margin-right: 95px;
    margin-left: 92px;
}

.navigation-list {
    display: flex;
    list-style: none;
}

.navigation-list__item a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 47px;
}

.navigation-list__item a:hover {
    color: #E3B873;
    transition: color 0.5s;
}

.phone {
    margin-left: 20px;
    margin-right: 45px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button {
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 200px;
    height: 51px;
}

.button-first {
    margin-right: 90px;
    padding: 13px 33px;
}

.section-first {
    background-image: url('../images/image1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    position: relative;
}

.section-first-overlay {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.section-first-content {
    position: relative;
    z-index: 1;
}

.title--main {
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.city-name {
color: #E3B873;
}

.introduction {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 19px 0 0;
}

.button__item {
    width: 207px;
    height: 51px;
    margin-top: 41px;
    margin-right: 20px;
}

.button:focus {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    box-sizing: border-box;
}

.section-second {
    background: black;
    height: 1074px;
}

.container.section-second-left {
    margin: 0;
    padding-top: 176px;
    padding-left: 134px;
}

.container.section-second-right {
    padding-top: 107px;
}

.section-second-content {
    display: flex;
    justify-content: space-between;
}

.title--large {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    margin-bottom: 34px;
}

.description {
    margin: 0;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.description-columns {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description-columns__item {
    width: 50%;
}

.intro {
    margin-bottom: 42px;
}

.description.description-small-font {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 34px;
}

.title--small {
    font-size: 18px;
    line-height: 25px;
}

.navigation-arrows__right-arrow {
    transform: rotate(-180deg);
}

.title.yellow-subtitle {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 40px;
    margin-bottom: 52px;
}

.yellow-subtitle__item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
}

.active a:focus {
    text-decoration: underline;
    color: #E3B873;
}

.navigation-arrows {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-arrows > .dots {
    width: 10px; 
    height: 10px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-left: 20px;
}

.dots:nth-child(5) {
    margin-right: 20px;
}

.white-subtitle--online-control {
    margin-top: 92px; 
    margin-bottom: 13px; 
}

.white-subtitle {
    color: #FFFFFF;
}

.online-control {
    text-align: center;
}

.title-icon--webcam {
    background-image: url('../images/webcam.png');
    width: 33px;
    height: 28px;
    margin: 0 auto;
}

.title-icon::before, .title-icon::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #E3B873;
    position: relative;
}

.title-icon::before {
    top: 5px;
    margin-left: -100%;
    left: -10px;
}

.title-icon::after {
    top: 5px;
    margin-right: -100%;
    right: -40px;
}

.section-third {
    height: 1258px;
}

.video {
    text-align: center;
    position: relative;
    margin-top: -200px;
}

.play-button {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1;
}

.play-button--1 {
    padding-bottom: 10px;
    padding-left: 7px;
}

.section-second-overlay {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    margin: auto;
    width: 817px;
    height: 440px;
}

hr {
    border: none;
    border-radius: 30px;
    background-color: #E3B873;; 
    height: 2px;
    width: 55px;
}

.border--1 {
    margin-top: 63px;
    margin-bottom: 34px;
}

.description--black-font {
    color: #363636;
}

.description--black-font--video {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 93px;
}

.form-third-section {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 800px;
    margin-bottom: 37px;
}

.button-submit:focus {
    color: black;
}

.input-text--1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 520px;
    margin-right: 49px;
    text-align: start;
}

.input-clue--1 input[type="text"] {
    font-size: 14px;
    line-height: 23px;
    border: none;
}

.input-clue--1:first-child {
    margin-right: 58px;
}

.input-clue--1 .input-underline {
    margin-top: 8px;
    width: 231px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.description-clue {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

input::placeholder {
    color: #363636;
}

.description-checkbox > input[type="checkbox"] {
    margin-left: 572px;
    position: relative;
    z-index: -1;
    opacity: 0;
}

.description-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 1px;
}

.description-checkbox>input:checked+span::before {
    background-color: #E3B873;
    background-image: url('../images/checked.png');
}

.projects-demonstration {
    margin: 31px 100px 100px;
}

.subtitle--black {
    color: #181818;
}

.subtitle--black1 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 75px;;
    margin-bottom: 13px;
}

.title-icon--instruments {
    background-image: url('../images/instruments-image.svg');
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.projects {
    margin-top: -120px;
    display: flex;
    justify-content: space-around;
}

.projects h4 {
    text-align: center;
}

.title--small {
    font-size: 18px;
    line-height: 25px;
}

.projects__item {
    text-align: start;
    width: 330px;
    height: 286px;    
    background-color: white;
    position: relative;
    z-index: 1;
    padding-top: 25px;
}

.projects__item ul {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.projects-images {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.projects-prices {
    display: flex;
    justify-content: flex-start;
}

.prices__item {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 17px 21px;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 5px 5px 10px;
    border: 2px solid rgba(227, 184, 115, 0.3);
    margin-top: -45px;
    position: relative;
    z-index: 2;
}

.prices__item:not(:last-child) {
    margin-right: 215px;
}